services:
  # API Gateway
  - type: web
    name: api-gateway
    runtime: docker
    dockerContext: .
    dockerfilePath: infra/production/docker/api-gateway.Dockerfile
    repo: https://github.com/VijetaPriya47/ResQ
    plan: free
    envVars:
      - fromGroup: shared-secrets
      - key: PORT
        value: 8081
      - key: HTTP_ADDR
        value: :8081
      - key: ENVIRONMENT
        value: production
      - key: TRIP_SERVICE_URL
        value: trip-service:9093
      - key: DRIVER_SERVICE_URL
        value: driver-service:9092
      # Stripe Webhook Key needs to be set in dashboard or group
      - key: STRIPE_WEBHOOK_KEY
        sync: false
      - key: OTEL_RESOURCE_ATTRIBUTES
        value: service.name=api-gateway,deployment.environment=production

  # Trip Service
  - type: web
    name: trip-service
    runtime: docker
    dockerContext: .
    dockerfilePath: infra/production/docker/trip-service.Dockerfile
    plan: free
    envVars:
      - fromGroup: shared-secrets
      - key: PORT
        value: 8080
      - key: GRPC_ADDR
        value: :9093
      - key: OSRM_API
        value: http://router.project-osrm.org
      - key: ENVIRONMENT
        value: production
      - key: OTEL_RESOURCE_ATTRIBUTES
        value: service.name=trip-service,deployment.environment=production

  # Driver Service
  - type: web
    name: driver-service
    runtime: docker
    dockerContext: .
    dockerfilePath: infra/production/docker/driver-service.Dockerfile
    plan: free
    envVars:
      - fromGroup: shared-secrets
      - key: PORT
        value: 8080
      - key: GRPC_ADDR
        value: :9092
      - key: ENVIRONMENT
        value: production
      - key: OTEL_RESOURCE_ATTRIBUTES
        value: service.name=driver-service,deployment.environment=production

  # Payment Service
  - type: web
    name: payment-service
    runtime: docker
    dockerContext: .
    dockerfilePath: infra/production/docker/payment-service.Dockerfile
    plan: free
    envVars:
      - fromGroup: shared-secrets
      - key: PORT
        value: 8080
      - key: GRPC_ADDR
        value: :9004
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: ENVIRONMENT
        value: production
      - key: OTEL_RESOURCE_ATTRIBUTES
        value: service.name=payment-service,deployment.environment=production

envVarGroups:
  - name: shared-secrets
    envVars:
      - key: RABBITMQ_URI
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: OTEL_EXPORTER_OTLP_ENDPOINT
        sync: false
      - key: OTEL_EXPORTER_OTLP_HEADERS
        sync: false
